<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p id="welcome-text">This site was created by Digvijay Rathore. It uses data from mapbox and aerisweather APIs for the forecast.The server used for this site is located in N. Virginia in the United States.</p>
            <img class="portrait" src="./img/1.jpg">
            <br><br><p id="welcome-text">Source code available at : </p><a href="https://github.com/digvijay-rathore/Node.js-weather-website.git">https://github.com/digvijay-rathore</a>
        </div>

        {{>footer}}
    </body>

</html>